@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap");
@import "tailwindcss";

/* Optional: a tiny theme */
@theme {
  --font-sans:
    "Raleway", ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans";
}
